:root {
    --color-black: black;
    --color-white: white;
    --color-yellow: #ffc700;
    --color-grey: #272727;
    --color-light-grey: #aeaeae;
}

* {
    margin: 0;
    padding: 0;
    font-size: unset;
    font-weight: unset;
    box-sizing: border-box;
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
    background: var(--color-black);
}

body {
    width: 100vw;
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* CSS */




/* MaxStats */

.w-100 {
    width: 100%;
}