:root {
    --color-black: black;
    --color-white: white;
    --color-yellow: #ffc700;
    --color-grey: #272727;
    --color-light-grey: #aeaeae;
}

* {
    margin: 0;
    padding: 0;
    font-size: unset;
    font-weight: unset;
    box-sizing: border-box;
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
    background: var(--color-grey);
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* CSS */

#loader {
    width: 100vw;
    height: 100vh;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: transform 1s ease-in-out;
}

#loader.active {
    transform: translateY(-100vh);
}

#marker {
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: translateX(-5px);
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

#marker.active {
    opacity: 1;
    pointer-events: visible;
}

#header {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
}

#header * {
    pointer-events: visible;
}

.header_nav {
    width: 100%;
    background: var(--color-black);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo {
    width: 80px;
    height: auto;
}

.header__menu {
    display: flex;
    list-style: none;
    position: relative;
}

.header__menu li {
    margin: 20px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.header__menu li.active {
    transform: translateY(-10px);
}

.header__menu li a {
    transition: color 0.3s ease-in-out;
    color: var(--color-light-grey);
}

.header__menu li a:hover {
    color: var(--color-white);
}

.header__menu li.active a {
    color: var(--color-white);
}

.header__burger {
    display: none;
    width: 50px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.burger__line {
    width: 100%;
    background: white;
    height: 5px;
    border-radius: 9999px;
}

.header__links {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.header__links a {
    font-size: 25px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.header__links a i {
    transition: transform 0.3s ease-in-out;
}

.header__links a:hover i {
    transform: translateY(-5px);
}

.hidden-content {
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
}

#index {
    background-image: url(./../img/index-bg.jpg);
    z-index: 1;
    overflow: hidden;
}

#index video {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#index .container {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#index h1 {
    font-size: 72px;
    line-height: 100%;
}

#index h2 {
    font-size: 48px;
}

#about {
    background-image: url(./../img/about-bg.jpg);
    z-index: 2;
}

#parcours {
    background-image: url(./../img/parcours-bg.jpg);
    z-index: 3;
}

#realisations {
    background-image: url(./../img/realisations-bg.jpg);
    z-index: 4;
}

#contact {
    background-image: url(./../img/contact-bg.jpg);
    z-index: 5;
}

/* JS */

.hidden-content.active {
    transform: translateX(0);
}

/* MaxStats */

.full {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.full-percentage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-pannel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w-100 {
    width: 100%;
}

.t-uppercase {
    text-transform: uppercase;
}

.roboto-mono-light {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.roboto-mono-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.p-abs {
    position: absolute;
    top: 0;
    left: 0;
}

.p-rel {
    position: relative;
}

/* media queries */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
    .header__burger {
        display: flex;
        z-index: 1000;
    }

    .header__menu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--color-yellow);
        z-index: 100;
        transform: translateX(100vw);
        transition: transform 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header__menu.active {
        transform: translateX(0);
    }
    .header__menu li a {
        color: var(--color-black);
        font-weight: bold;
    }
    #marker {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #index h1 {
        font-size: 40px;
        text-align: center;
    }
    
    #index h2 {
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }
}

